.card-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    bottom: 10%;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
    font-family: FontAwesome;
    outline: none;
  }
  
  .heart {
    right: 1%;
    background: #d6d6d6;
  }
  
  .heart::after {
    content: "\f004";
  }
  
  .heart:hover::after {
    animation: iconBounce .57s 1;
  }
  
  .favorite {
    background: rgb(199, 27, 56);
  }
  
  @keyframes iconBounce {
    0% {
      font-size: 24px;
    }
    
     50% {
      font-size: 28px;
    }
    
    100% {
      font-size: 24px;
    }
  
  }